#projects {
  height: 100vh;
  max-width: 100%;
}

.inner {
  padding-block: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

#projects[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 50%,
    white 50%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 50%, white 50%, transparent);
}

#projects[data-animated="true"] .inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 60s linear infinite;
  animation-play-state: running;
}

#projects {
  display: flex;
  align-items: center;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 2rem));
  }
}

.projectCard {
  background-color: rgb(54, 54, 54);
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  justify-content: space-evenly;
  padding: 2em;
  flex-shrink: 0;
  box-shadow: 0 0.8rem 1.2rem -0.25rem rgba(0, 0, 0, 0.7);
  border-radius: 1em;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-bottom: 1em;
}

.projectTitle {
  font-size: 20pt;
  font-weight: 800;
  margin: 0;
  color: white;
  font-family: "Dm Sans", sans-serif;
}

#projects .description {
  color: rgb(135, 135, 135);
  font-family: "Source Code Pro", monospace;
  margin-bottom: 2em;
  font-size: 10pt;
}

.tag {
  background-color: #6ef3a3;
  color: black;
  font-family: "Dm Sans", sans-serif;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 10px;
}

.fade {
  position: absolute;
  background: linear-gradient(
    90deg,
    #1e293b,
    transparent 30%,
    transparent 70%,
    #1e293b
  );
  inset: 0;
  pointer-events: none;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.projectImage {
  width: 100%;
  height: 70%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.projectImage img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5em;
}

button.start {
  position: absolute;
  border: 0;
  top: 285svh;
  left: calc(50% - 5em);
  height: 2em;
  width: 10em;
  text-align: center;
  vertical-align: middle;
  background-color: #6ef3a3;
  border-radius: 10px;
  font-family: "Dm Sans", sans-serif;
  color: black;
  font-weight: 400;
}

button.stop {
  position: absolute;
  border: 0;
  top: 285vh;
  left: calc(50% - 5em);
  height: 2em;
  width: 10em;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #6ef3a3;
  border-radius: 10px;
  background-color: transparent;
  font-family: "Dm Sans", sans-serif;
  color: #6ef3a3;
  font-weight: 400;
}

button {
  cursor: pointer;
  font-size: 15pt;
}

#mProjects {
  display: none;
}

@media screen and (max-width: 800px) {
  #mProjects {
    width: 80vw;
    height: 400px;
    display: flex;
    align-items: center;
    gap: 1em;
    color: white;
    overflow-x: scroll;
  }

  #mProjects .mProject {
    padding: 3em;
    background-color: red;
    min-width: 100px !important; /* Add this line */
  }
}
