#navbar {
  display: flex;
  height: 7em;
  width: 100%;
}

.name {
  width: 30%;
  display: flex;
  gap: 1rem;
  pad: 5em;
  justify-content: center;
  align-items: center;
}

#firstName,
#lastName {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 2.5rem;
  color: #fff;
  margin: 0;
}

#firstName {
  font-weight: 700;
}

.links {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 4em;
}

.links div {
  text-decoration: none;
  color: white;
  font-family: "Source Code Pro", monospace;
  padding-left: 1.5em;
  padding-right: 1.5em;
  cursor: pointer;
  padding: 0.5rem;
}

.links div:hover {
  color: rgb(110, 243, 163);
  border-bottom: 2px solid rgb(110, 243, 163);
}

.contact {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
  color: rgb(135, 135, 135);
  padding-right: 5em;
  font-family: "Dm Sans", sans-serif;
}

#linkedin,
#github,
#instagram {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#email:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: 0.5s;
}

#email {
  background-color: #48413f;
  padding: 0.8em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#linkedin p,
#github p,
#instagram p {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#linkedin p::after,
#github p::after,
#instagram p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: rgb(110, 243, 163);
  transition: width 0.3s;
}

#linkedin p:hover::after,
#github p:hover::after,
#instagram p:hover::after {
  width: 100%;
}

#linkedin p:hover,
#github p:hover,
#instagram p:hover {
  cursor: pointer;
}
