@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&family=Roboto+Condensed:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&800&family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,300;9..40,400&family=Montserrat&display=swap");

@import url("./scrollbar.css");
@import url("./aboutStyle.css");
@import url("./navbarStyle.css");
@import url("./projectsStyle.css");
@import url("./contactStyle.css");

body {
  background-color: #292524;
  overflow-x: hidden;
}

#main {
  display: flex;
  flex-direction: column;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15em;
  height: calc(100svh - 7em);
}

#textual {
  display: flex;
  flex-direction: column;
  padding-left: 1svw;
  padding-top: 3svh;
}

.devTag {
  color: black;
  background-color: rgb(110, 243, 163);
  font-family: "Dm Sans", sans-serif;
  font-weight: 800;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 2em;
  border-radius: 7px;
  text-align: center;
  width: fit-content;
}

.subTextual {
  display: flex;
  flex-direction: column;
  padding-left: 10svw;
}

.quote p {
  color: white;
  font-size: 40pt;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-family: "Dm Sans", sans-serif;
}

.quoteAuthor {
  margin-bottom: 4em;
  font-family: "Montserrat", sans-serif;
  color: rgb(105, 105, 105);
}

.subQuote {
  color: rgb(135, 135, 135);
  margin-bottom: 4em;
  font-size: 12pt;
  font-family: "Source Code Pro", monospace;
}

.discussion {
  color: rgb(110, 243, 163);
  text-decoration: underline;
  font-size: 17pt;
  font-family: "Dm Sans", sans-serif;
  font-weight: 500;
  width: fit-content;
}

.discussion:hover {
  cursor: pointer;
  text-underline-offset: 0.2em;
}

#reference {
  display: flex;
  gap: 5em;
  padding-left: 4svw;
  padding-top: 2svh;
  align-items: flex-end;
}

@media screen and (min-width: 1700px) {
  #reference {
    padding-left: 4svw;
    padding-top: 15svh;
  }
}

.experience,
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
}

.experience p.years,
.projects p.projectCount {
  color: white;
  font-size: 40pt;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.experience p.text,
.projects p.text {
  color: rgb(135, 135, 135);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

#radialGradient {
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

#content #image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2svw;
}

#content #image img {
  width: 45svw;
}

.mImage {
  display: none;
}

@media screen and (max-height: 600px) {
  #content #image {
    width: 40svh;
    padding-right: 15rem;
  }

  #content {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
}

.navActive {
  color: rgb(110, 243, 163) !important;
  font-weight: bold;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#scrollUp {
  position: fixed;
  bottom: 8em;
  right: 8em;
  background-color: #48413f;
  display: none;
  padding: 1em;
  border-radius: 50%;
  animation: scaleUp 0.2s forwards;
  z-index: 2;
}

#scrollUp:hover {
  cursor: pointer;
}

#arrow1 {
  position: absolute;
  top: 92vh;
  width: 30em;
  left: calc(50% - 15em);
}

#arrow2 {
  position: absolute;
  top: 185vh;
  width: 30em;
  left: calc(50% - 15em);
}

#arrow3 {
  position: absolute;
  top: 290vh;
  width: 30em;
  left: calc(50% - 15em);
}

#top,
#navigations,
.contactMobile,
#mAreas {
  display: none;
}

#contactForm {
  width: 50svw;
}

#contactForm .subInput:first-child {
  width: 50svw;
  display: flex;
  justify-content: stretch;
}

/* ----------------------------------------------------- */
/* Mobile version */

@media only screen and (max-width: 800px) {
  #introduction,
  #about,
  #contact {
    all: unset;
  }

  #areas {
    display: none;
  }

  #mAreas {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  #top {
    display: block;
  }

  #navigations {
    display: block;
  }

  #textual {
    padding: 0;
    padding-top: 3em;
  }

  .subTextual {
    padding-left: 0.5em;
  }

  #reference {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 0.6em;
    margin-top: 3em;
    margin-left: 1em;
  }

  #navbar {
    display: none;
  }

  #profileImage {
    display: none;
  }

  #arrow1,
  #arrow2,
  #arrow3 {
    display: none;
  }

  .mName {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    padding-right: 2em;
  }

  #id {
    display: flex;
    flex-direction: column;
  }

  #navigations {
    display: none;
  }

  #navigations .nav {
    padding: 1em;
    text-align: left;
    background-color: #1e1e1e;
    color: white;
    font-family: "Montserrat", sans-serif;
  }

  #reference .experience p.years,
  #reference .projects p.projectCount {
    font-size: 30pt;
  }

  #reference .experience p.text,
  #reference .projects p.text {
    font-size: calc(4svw / 10pt);
  }

  #reference .projects {
    display: flex;
  }

  #startStop {
    display: none;
  }

  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #contactForm {
    width: 80svw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding-bottom: 5em;
  }

  #contactForm .subInput:first-child {
    width: 100%;
    display: flex;
    justify-content: stretch;
  }

  .contact {
    display: none;
  }

  .contactMobile {
    display: flex;
    justify-content: space-evenly;
    width: 100svw;
    padding: 0;
    margin: 0;
  }

  #contact .title {
    text-align: center;
  }

  .contactMobile #linkedinMobile,
  .contactMobile #githubMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-size: 20pt;
    font-family: "Dm Sans", sans-serif;
    color: white;
    font-weight: 100;
  }

  #main {
    height: 100svh;
  }

  #mAreas .areaCard {
    padding: 2em;
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  #mAreas .areaCard .title p {
    font-size: 15pt;
    font-weight: 800;
  }

  #mAreas .areaCard .title svg {
    width: 20px;
    height: 20px;
  }

  #mAreas .areaCard .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
  }

  #introduction .content {
    padding-bottom: 2em;
  }

  #about {
    height: fit-content;
    width: 85svw;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding-left: 5svw;
    padding-bottom: 5em;
  }

  #introduction .title spam {
    font-size: 40pt;
  }

  #introduction {
    width: 85svw;
  }

  .quote {
    width: 85svw;
  }

  .quote p {
    font-size: 30pt;
  }

  #scrollUp {
    position: fixed;
    bottom: 10svh;
    right: 10svw;
    background-color: #48413f;
    display: none;
    padding: 1em;
    border-radius: 50%;
    animation: scaleUp 0.2s forwards;
  }

  .mImage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }

  .mImage img {
    width: 100%;
  }
}

@media only screen and (max-width: 1100px) {
  #top {
    display: block;
  }
  #topNav {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .mName {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    padding-right: 2em;
  }

  #burgerIcon {
    font-size: 50pt;
    color: white;
    padding-left: 0.5em;
  }

  #navbar {
    display: none;
  }

  #profileImage {
    display: none;
  }

  .subTextual {
    padding-left: 1em;
  }
}
